fastapi
uvicorn
requests
python-dotenv
ngrok
gTTS
websockets
pyaudio
openai
openai-agents
edge-tts
pinecone
docling
pydantic
beautifulsoup4
pytest
neo4j>=5.14,<6
pytest-asyncio
python-docx
openpyxl
odfpy
lxml
