fastapi
uvicorn
requests
python-dotenv
ngrok
gTTS
websockets
pyaudio
openai
openai-agents
edge-tts
pinecone
docling
pydantic
beautifulsoup4
pytest
neo4j>=5.14,<6
pytest-asyncio
python-docx
openpyxl
odfpy
lxml
livekit==1.1.8
livekit-api==1.1.0
livekit-agents[codecs]==1.5.9
livekit-plugins-cartesia==1.5.9
livekit-plugins-silero==1.5.9
livekit-plugins-turn-detector==1.5.9
livekit-plugins-openai==1.5.9
